
<% if user_signed_in?  %>
<%=  link_to 'sign out', destroy_user_session_path, method: :delete %>

<% end %>

<% if user_signed_in? == false %>

<button class="btn btn-danger" data-toggle="modal" data-target="#sign-up"> <%=  link_to 'sign up', new_user_registration_path, method: :get %>

</button>

<div class="modal fade id="sign-up"></div>

<% end %>

<% if user_signed_in? == false %>

<button class="btn btn-danger" data-toggle="modal" data-target="#log-in"> <%=  link_to 'log in', new_user_session_path, method: :get %>

</button>

<div class="modal fade id="log-in"></div>

<% end %>

<div class="container">
  <div class="row">
    <div col-xs-6 col-xs-offset-6>

    <%= form_tag('/search', method: 'get') do  %>
     <%= text_field_tag :search_value,nil, placeholder: 'Enter search term...', class: "datepicker" %>
     <%= submit_tag 'search' %>

     <% end  %>

</div>
</div>
</div>

